// Sass constants
$white: #ffffff;
$black: #000000;
$font-family: sans-serif;

// $desktop-padding: 50px;
// $mobile-padding: 20px;
// $header-height: 80px;
// $max-cinema: 1800px;
// $max-desktop: 1200px;
// $max-tablet: 900px;
// $max-phone: 750px;
// $max-mini: 480px;

// Breakpoints
// $gt-cinema: 'only screen and (min-width: 1800px)';
// $lt-desktop: 'only screen and (max-width: 1100px)';
// $lt-tablet: 'only screen and (max-width: 1024px)';
// $lt-phone: 'only screen and (max-width: 750px)';
// $lt-phone-landscape: 'only screen and (max-width: 750px) and (orientation: landscape)';
// $ipad: 'only screen and (min-device-width : 768px) and (max-device-width : 1024px)';

// SCSS Mixins
@mixin fill($position: absolute) {
    position: $position;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
