/*
    Load fonts in this file using @font-face.

    Fonts should go in: ~/assets/fonts/

    Example:

        @font-face {
           font-family: 'My Font';
           src: url('~/assets/fonts/MyFont.eot');
           src: url('~/assets/fonts/MyFont.eot?#iefix') format('embedded-opentype'),
                 url('~/assets/fonts/MyFont.woff2') format('woff2'),
                 url('~/assets/fonts/MyFont.woff') format('woff'),
                 url('~/assets/fonts/MyFont.ttf') format('truetype');
            font-style: normal;
            font-weight: 400;
        }

    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/
