/*
 * This file is included once, for the entire sute.
 * It's useful for global styles.
 */

/* Globals */
body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-black);
    background-color: var(--color-white);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
::selection {
    color: var(--color-white);
    background: var(--color-black);
}
h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s;
}
button {
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 0;
}
.title {
    .line {
        display: block;
    }
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

/* Z-Indexs */
.footer {
    z-index: -100;
}
.page {
    z-index: 100;
}
.header {
    z-index: 200;
}
.menu-panel {
    z-index: 300;
}
.global-hamburger {
    z-index: 400;
}

/* Gutenberg overrides */
#content {
}

/* Animations */
/* .bounce {
    animation: bounce 1.5s ease-in-out infinite;
}
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) translateX(-50%);
    }
    40% {
        transform: translateY(-5px) translateX(-50%);
    }
    60% {
        transform: translateY(5px) translateX(-50%);
    }
} */
