/*
 * This file is imported into every component.
 */

/* Breakpoints */
$gt-cinema: "only screen and (min-width: 1800px)";
$lt-cinema: "only screen and (max-width: 1799px)";
$lt-tablet: "only screen and (max-width: 1024px)";
$lt-phone: "only screen and (max-width: 850px)";
// $phone-landscape: 'only screen and (max-width: 850px) and (orientation: landscape)';
// $pad: "only screen and (min-device-width : 768px) and (max-device-width : 1024px)";
$has-hover: "(hover: hover)";

// Hover states can be styled like this
// @media #{$has-hover} {
// }

// Media queries can be used like this
// @media #{$lt-phone} {
// }
