/*
 * This file is auto-imported into all components.
 * It's useful for commonly used SCSS Mixins.
 */

// SCSS Mixins
@mixin fill($position: absolute) {
    position: $position;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
