/* Fade */
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.4s var(--easing-authentic-motion);
}

/* Slide left & slide right */
.slide-right-enter,
.slide-left-leave-to {
    transform: translateX(-100%);
}
.slide-left-enter,
.slide-right-leave-to {
    transform: translateX(100%);
}
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    transition: transform 0.4s var(--easing-authentic-motion);
}

/* Slide up */
.slide-up-enter-active,
.slide-up-leave-active {
    transition: transform 0.4s var(--easing-authentic-motion);
}
.slide-up-enter {
    transform: translateY(100%);
}
.slide-up-enter-to {
    transform: translateY(0%);
}
.slide-up-leave {
    transform: translateY(0%);
}
.slide-up-leave-to {
    transform: translateY(-100%);
}

/* Slide down */
.slide-down-enter-active,
.slide-down-leave-active {
    transition: transform 0.4s var(--easing-authentic-motion);
}
.slide-down-enter {
    transform: translateY(-100%);
}
.slide-down-enter-to {
    transform: translateY(0%);
}
.slide-down-leave {
    transform: translateY(0%);
}
.slide-down-leave-to {
    transform: translateY(100%);
}
